* {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

header {
    background-color: #000;
    height: 100px;
    color: #FFF;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
    
}
.logo_img {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}
.menu-opener {
    display: none;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;   
}
.menu ul,
.menu li  {
    list-style: none;
}
.menu ul {
    display: flex;

}

.menu li a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000;
    
}
.menu li a:hover {
    border-bottom: 5px solid #b28756;
    color: #ccc;
}
.menu .active a {
    border-bottom: 5px solid #b28756;
}



.banner {
    background-color: #333;
    background-image:url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
    overflow: hidden;
}
.banner .sliders {
    width: 10000vw;
    height: 100%;
    
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}
.banner .slide_area {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 50px;

}
.banner .slide_area span {
    color: #FFF;
    font-size: 50px;
    font-weight: bold;
}
.banner .slide_area span:nth-child(2) {
    color: #b28756;
}
.banner .slide_area span:nth-child(3) {
    font-size: 20px;
}
.banner .slide_area a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    background-color: #b28756;
    border-radius: 25px;
    height: 45px;
    width: 190px;
    font-weight: 600;
}
.slider_pointer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 100vw;
    height: 20px;
    margin-top: -50px;
}
.ac_pointer {
    background-color: #b28756;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    margin-right: 10px;
}


.default {
    
    
    margin: auto;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section_tittle,
.default .section_desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section_tittle {
    font-size: 20px;
}
.default .section_desc {
    font-size: 12px;
    color:#ccc;
    margin-top: 12px;
    margin-bottom: 40px;


}
.default .section_body {
    margin: auto;
    max-width: 1140px;
    
    
}
.default.light {
    background-color: #f7f7f7;
    

}
.default.light .section_tittle,
.default.light .section_body {
    color: #000;
}
.default.dark {
    background-color: #000;
    
}
.default.dark .section_tittle,
.default.dark .section_body {
    color: #FFF;
}


/*
    CSS DE ÁREAS ESPECÍFICAS
*/

.about_us {
    display: flex;
}
.about_us--left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.about_us--left p {
    font-size: 12px;
    text-align: justify;
    

}
.about_us--left a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    padding-top: 12px;
    height: 45px;
    width: 190px;
    background-color: #b28756;
    border-radius: 25px;
    margin-top: 20px;

}
.about_us--right {
    width: 520px;
    text-align: center;

}
.about_us--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #000;
}
.service_area {
    display: flex;

}
.service_area .services {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  padding: 15px;

}
.service_area .services img {
    width: 65px;
    height: 65px;
    margin-bottom: 35px;
}
.service_area .services h1 {
    font-size: 15px;
}
.service_area .services p {
    text-align: center;
    font-size: 12px;
    margin-top: 12px

}
.row {
    display: flex;
    
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects_filter {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 25px;
    display: inline-block;
    padding: 0px 20px;

}
.projects_filter ul,
.projects_filter li {
    list-style: none;
}
.projects_filter li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #EEE;
}
.projects_filter li:hover,
.projects_filter li.active {
    border-bottom: 3px solid #b28756;
    cursor: pointer;
}
.projects_filter li:first-child {
    border-left: 0;
}

.project_photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.photo {
    width: 300px;
}
.photo_area {
    margin: 10px;
    width: 280px;
    height: 240px;
}
.photo_area img{
    width: inherit;
    height: inherit;

}
.photo_info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-direction: column;
    text-align: center;
}
.photo_info h5 {
    font-size: 21px;
    font-weight: 600;
}
.photo_area:hover .photo_info {
    display: flex;
}
.buttom {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    padding-top: 12px;
    height: 45px;
    width: 190px;
    background-color: #b28756;
    border-radius: 25px;
    margin-top: 20px;
}



.bg_team {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;

}

.team_area {
    background-color:rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
    

}
.team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
   
}
.team .sliders {
    max-width: 1140px;
    width: 1000vw;
    height: 100%;
    
    
    
}
.team .slide {

    height: 100%;
    min-height: 300px;
    display: inline-flex;
    background-color: #FFF;
    margin-right: 60px;
    border-radius: 20px;
    
}
.team .slide_area {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    
   
}
.team_area .slider_pointer {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top:20px;
    
}
.team_area .ac_pointer {
    background-color: #b28756;
}
.team_area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    margin-right: 10px;
}
.team_photo {
    width: 170px;
    height: 100%;
}
.team_name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    color: #000;
}
.team_function {
    text-transform: uppercase;
    font-size: 14px;
    color: #555;
    
}
.team_social {
  display: flex;
  margin-top: 20px;

    
}
.team_social img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 15px;
}
.team_social img:hover {
    background-color: #b28756;
    cursor: pointer;
}

.clients .slide_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}
.clients img {
    margin-top: 30px;
    margin-bottom: 15px;
}
.clients p {
    font-size: 12px;
    max-width: 700px;

}
.section_body .slider_pointer {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top:25px;
    
}
.section_body .ac_pointer {
    background-color: #b28756;
}
.section_body .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    margin-right: 10px;
}
.companies {
    max-width: 1140px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid #ccc;
    padding: 50px;
}
.prices {
    
    display: flex;
    justify-content: space-around;

}
.price_card {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 360px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.price_card h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.price_card h5 {
    color: #ccc;
    margin-bottom: 25px;
}
.price_card p {
    font-size: 11px;
    color: #bbb;
}
.price_card a {
    background-color: #373737;
    text-decoration: none;
    color: #FFF;
    width: 125px;
    height: 45px ;
    margin-top: 20px;
    border-radius: 25px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.price_card a:hover {
    background-color: #b28756;
}
.about_us {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 40px;
    
}
.grey {
    background-color: #999;
}
.about_us .premium--left {
    flex: 1;
    display: flex;
    justify-content: center;
    
}
.about_us .premium--right {
    flex: 1;
    
    
    
    
}
.premium--right .feature {
    display: flex;
    margin-top: 40px;

}
.check img {
    margin-right: 25px;
}
.feature_text h1 {
    margin-bottom: 15px;
    font-size: 20px;

}
.feature_text p {
    line-height: 20px;
    font-size: 12px;
    max-width: 420px;
    color: #999;
    
}
.section_body .slider_pointer3 {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top:25px;
    
}
.section_body .ac_pointer {
    background-color: #b28756;
}
.section_body .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    margin-right: 10px;
}
.touch_button {
    
    display: flex;
    justify-content: center;
    margin-top: 40px;

}
.touch_button a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #b28756;
    display: flex;
    width: 190px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: 600;

    
}
.facts_area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.facts_area .facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;

}
.facts_area .facts h1 {
    font-size: 45px;
    color: #b28756;
}
.facts_area .facts h4 {
    font-size: 22px;
    text-transform: uppercase;
}
.facts_area .facts p {
    font-size: 12px;
    color: #999;
}
.social .social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    height:75px;
    border-bottom: 1px solid #ccc;

}
.social_media img {
    width: 30px;
    margin-left: 40px;
    margin-right: 20px; 
}
.social_media p {
    font-size: 13px;
    color: #999;
}
.section_body .contact {
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    
    
    

}

.contact input  {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #f7f7f7;
    margin-bottom: 10px; 
    margin-top: 20px;
    width: 400px; 
    display: block;
}
.contact form :nth-child(4) {
    margin-top: 40px;
}
.message_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.section_body .send_message {
    background-color: #b28756;
    text-decoration: none;
    color: #FFF;
    width: 190px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}

.map {
    background-image: url(../images/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.map-area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;

}
.map_info {
    width: 50%;
    padding: 25px;
    background-color: #FFF;
    color: #000;
}
.informations {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.img_info {
    height: 25px;
    width: 25px;
    border-radius: 12px;
    align-items: center;
    padding: 5px;
    justify-content: center;
    display: inline-flex;
    background-color: #ccc;
    margin-right: 15px;

}
.img_info img {
    width: 15px;
    height: auto;
}
.informations p {
    color: #ccc;
    font-size: 13px;
}
.footer_area {
    display: flex;

    margin: auto;
    
}
.footer_social img {
    height: 25px;
    width: 25px;
    border-radius: 12px;
    align-items: center;
    padding: 5px;
    justify-content: center;
    display: inline-flex;
    background-color: #ccc;
    margin-right: 15px;

}
.footer_text  {
    max-width: 350px;
    font-size: 13px;
    color: #ccc;
    text-align: left;


}
.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    background-color: #373737;
    border-radius: 20px;


}
.subscribe input {
    width: 220px;
    height: 35px;
    background-color: #373737;
    color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;


}
.subscribe a {
    text-decoration: none;
    color: #FFF;
    background-color: #b28756;
    width: 190px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 30px;


}
.footer_social,
.footer_text,
.subscribe {
    margin-right: 30px;
}
.eu {margin-top: 20px;
    font-size: 10px;
    color: #aaa;
    
}
.eu a{
    text-decoration: none;
    color: #6a2649 ;
    
}



@media (min-width:450px) and (max-width:800px) {
    .logo_img {
        margin-left: 30px;
    }
    .menu-opener {
        display: block;
        width: 30px;
        margin-right: 30px;


    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, .9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height: 50px;
        font-size: 25px;
        margin-right: 50px;
        border: 0;
    }
    .menu .active a {
        border: 0;
        color: #b28756;
    }
    .about_us {
        flex-direction: column;
    }
    .about_us--left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;

    }
   
    .about_us--right {
        width: auto;
    }
    .service_area {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .team {
        max-width: 580px;
    }
    .prices {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 520px;
        margin: auto;
    }
    .price_card {
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .facts_area {
        
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
    }
    .map-area {
        width: auto;
    }
    .map_info {
        width: auto;
    }
    .footer_area {
        margin-left: 20px;
    }
    .subscribe  {
        padding: 20px;

    }
    
}


@media (max-width:450px) {
    .logo_img {
        margin-left: 30px;
    }
    .menu-opener {
        display: block;
        width: 30px;
        margin-right: 30px;


    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, .9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height: 50px;
        font-size: 25px;
        margin-right: 50px;
        border: 0;
    }
    .menu .active a {
        border: 0;
        color: #b28756;
    }
    .about_us {
        flex-direction: column;
    }
    .about_us--left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;

    }
   
    .about_us--right {
        width: auto;
    }
    .service_area {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .team {
        max-width: 580px;
    }
    .prices {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 520px;
        margin: auto;
    }
    .price_card {
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .facts_area {
        
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
    }
    .map-area {
        width: auto;
    }
    .map_info {
        width: auto;
    }
    .footer_area {
        margin-left: 20px;
    }
    .subscribe  {
        padding: 20px;

    }
    
}